<div *ngIf="mobiles" class="container mob-table">
<div class="headers">
  <h2 class="table-title">Manage mobile</h2>
  <button class="btn add" (click)="openForm()" >Add Mobile</button>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Mobile</th>
      <th>Price(Rs)</th>
      <th>RAM</th>
      <th>Storage</th>
      <th></th>
      <th></th>
    </tr>  
  </thead>
  <tbody class="text-center">
    <tr *ngFor="let mobile of mobiles">
      <td>{{mobile.mobile}}</td>
      <td>{{mobile.price}}</td>
      <td>{{mobile.ram}}</td>
      <td>{{mobile.storage}}</td>
      <td>
        <button class="btn btn-primary" (click)="openForm(mobile)">Edit</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteMobile(mobile)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
</div>


<div class="form-wrapper" *ngIf="showForm">
  
  <div class="mobile-form">
    <h2 class="text-center text-info">{{formHeader}}</h2>

    <div class="group">
      <label for="">Name:</label>
      <input type="text" class="formControl" [(ngModel)]="mobileName" name="name" required minlength="5">
    </div>
  

  <div class="group">
    <label for="">Price:</label>
    <input type="text" class="formControl" [(ngModel)]="price" name="name"  type="number" required min="1000">
  </div>


<div class="group">
  <label for="">RAM:</label>
  <input type="text" class="formControl" [(ngModel)]="ram" name="name"  type="number" required min="1">
</div>


<div class="group">
  <label for="">Storage:</label>
  <input type="text" class="formControl" [(ngModel)]="storage" name="name"  type="number"  required min="1">
</div>

<div class="action">
  <button class="btn btn-primary save" (click)="saveMobile()">Save Changes </button>
  <button class="btn btn-danger save" (click)="closeForm()">Cancel</button>
</div>

</div>
</div>